<!-- <button mat-button (click)="gotoDashboard()">Dadhboard</button>
<button mat-button (click)="gotoProduct()">Product</button>
<button mat-button (click)="gotoMyCart()">My Cart</button> -->

<!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
    <button mat-button (click)="gotoDashboard()">Dadhboard</button>
    <button mat-button (click)="gotoProduct()">Product</button>
    <button mat-button (click)="gotoMyCart()">My Cart</button>
</mat-menu> -->
<mat-toolbar color="primary">
    <button mat-raised-button color="primary" (click)="gotoDashboard()">Dashboard</button>
    <button mat-raised-button color="primary" (click)="gotoProduct()">Product</button>
    <button mat-raised-button color="primary" (click)="gotoMyCart()">My Cart</button>
  </mat-toolbar>



<router-outlet></router-outlet>
