<h1 mat-dialog-title> Add a New Product </h1>
<div mat-dialog-content>
    <form [formGroup]="productForm">
      <mat-form-field appearance="outline">
        <mat-label>Product Name</mat-label>
        <input formControlName="productName" matInput placeholder="product name">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Product Code</mat-label>
        <input formControlName="productCode" matInput placeholder="product code">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Product Category</mat-label>
        <mat-select formControlName="category" placeholder="category">
            <mat-option value="Samrtphone">Samrtphone</mat-option>
            <mat-option value="Camera">Camera</mat-option>
            <mat-option value="Laptop">Laptop</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input formControlName="price" matInput type="number" placeholder="price">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput></textarea>
      </mat-form-field>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="primary" (click)="addProduct()">{{actionBtn}}</button>
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</div>